img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 12px;
    margin: 10px 0 25px;;
}
.email-container {
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    background-color: #f8f1e7;
}

body {
    margin: 0;
    background-color: #e8e1d8;
    font-family: Arial, sans-serif;
}

h1 {
    color: #5a3825;
    font-size: 36px;
    margin-bottom: 10px;
}

h2 {
    color: #5a3825;
    font-size: 28px;
    margin-top: 5px;
    margin-bottom: 20px;
}

h3 {
    color: #5a3825;
    font-size: 34px;
    line-height: 1.2;
    margin: 20px 0;
}

p {
    color: #6b5a4d;
    font-size: 16px;
    line-height: 1.6;
    margin: 20px 0;
}

.cta-button {
    display: inline-block;
    background-color: #5a3825;
    color: white;
    text-decoration: none;
    padding: 14px 28px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 25px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #8a5a3b;
.details {
    color: #6b5a4d;
    font-size: 14px;
    line-height: 1.6;
    margin-top: 10px;
}

.footer {
    color: #8a7768;
    font-size: 12px;
    margin-top: 30px;
}